* {
    padding: 0;
    margin: 0;
}

:root {
    --C1: red;
    --C2: #FFF78A;
    --C3: #5FBDFF;
    --C4: purple;
    --C5: blue;
    --C6: green;
}

body,
html {
    height: 100%;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#main-projects {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-box {
    margin: 10px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}

.project-box h3 {
    margin-bottom: 10px;
}

.project-box p {
    margin-top: 0;
}

#todo-items {
    list-style: none;
    height: auto;
    margin: 5px;
    border-bottom: 1px solid white;

}

body {
    background:
        radial-gradient(circle at top, var(--C1), var(--C2), var(--C3)),
        radial-gradient(circle at right, var(--C4), var(--C5), var(--C6), transparent);

    background-size: 400% 400%;

    -webkit-animation: moveGradient 20s ease-in-out infinite;

}

@-webkit-keyframes moveGradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}