* {
    padding: 0;
    margin: 0;
}

body,html{
    font-family:'Noto Sans', sans-serif;
}

header{
    background-color:#333;
    color: white;
    padding: 10px 0;
}

nav ul{
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navLink{
    color:#1bc4da !important;
    transition: color, text-shadow 1s;
}

.navLink:hover{
    color: #6bf2da ! important;
    transition: color, text-shadow 1s;
}

.navLink{
    text-shadow: none;
    transition: text-shadow 0.5s;

.navLink:hover{
    text-shadow: 2px 2px 50px #0fd623;
}  
.navLink{
    transform: scale(1);
    transition: transform 2s;
}
.navLink:hover{
    transform: scale(1.1);
}
.navLink{
    display: inline-block;
    transition: transform 1s;
}
.navLink{
    transform: rotate(5deg);
}
}

section{
    padding: 60px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

footer{
    background-color: #333;
    color:white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-content{
    text-align: left;
}
